{% extends 'landing.html' %}

{% block users %}
{% load static %}
<div class="table-page">
    <h1> Users results</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>username</th>
                <th>Score</th>
                <th>Correct answers</th>
                <th>wrong answers</th>
                <th>status</th>
                <th>note</th>
            </tr>
        </thead>
        <tbody>
            {% csrf_token %}
            {% for r in results%}
            <tr>
            <td>{{r.user.username}}</td>
            <td>{{r.score}}</td>
            <td>{{r.correct}}</td>
            <td>{{r.wrong}}</td>
            <td>{{r.status}}</td>
            <td>{{r.note}}</td>
            
            <td><button class="btn btn-default"> <a href="/quiz/edit/note/{{r.id}}">give a mark</a> </button></td>
            </tr>

            {% endfor %}

        </tbody>

    

    
        
        </table>


</div>
{% endblock %}