
{% extends 'landing.html' %}
{% load static %}


{% block reg %}


<div class="form-v4-content" style="opacity: 0.8">
    <div class="form-left">
        <img src="{% static 'images/quizreg.png' %}" alt="">
        <div class="reg-info">
            <h3 style="color: white;">If you already have an account</h3>
            <a href="/accounts/login/">Login</a>
        </div>
        
    </div>
    <form action="" method="post" class="form-detail" id="myform">
        {% csrf_token %}
        <h2>Registration</h2>

            <h5 style="color: darkred">
                {% if form.errors %}
                {% for field in form %}
                {% for error in field.errors %}
                {{ error|escape }}
                {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                {{ error|escape }}
                {% endfor %}
                {% endif %} </h5>

        <div class="form-row">
            <label for="username">Username</label>
            {{form.username}}

        </div>

        <div class="form-row ">
            <label for="email">Email</label>
            {{form.email}}
        </div>

        <div class="form-row ">
            <label for="password1">Password</label>
            {{form.password1}}
        </div>
        <div class="form-row">
            <label for="password2">Confirm password</label>
            {{form.password2}}
        </div>

        <div style="margin-top: 20px">
            <div class="form-row">
                <input type="submit" value="Register">
            </div>
        </div>
    </form>

</div>

{% endblock reg %}