
body,
html {
    width: 100%;
	height: 100%;
}

body, p {
	color: #626262;
	font: 400 0.875rem/1.375rem "Raleway", sans-serif;
}

/*     03. Navigation     */

.navbar-custom {
	background-color: #fff;
	box-shadow: 0 0.0625rem 0.375rem 0 rgba(0, 0, 0, 0.1);
	font: 600 0.875rem/0.875rem "Raleway", sans-serif;
	transition: all 0.2s;
}

.navbar-custom .navbar-brand.logo-image img {
    width: 7.4375rem;
	height: 2rem;
}

.navbar-custom .navbar-brand.logo-text {
	font: 600 2rem/1.5rem "Raleway", sans-serif;
	color: #393939;
	text-decoration: none;
}

.navbar-custom .navbar-nav {
	margin-top: 0.75rem;
	margin-bottom: 0.5rem;
}

.navbar-custom .nav-item .nav-link {
	padding: 0.625rem 0.75rem 0.625rem 0.75rem;
	color: #393939;
	text-decoration: none;
	transition: all 0.2s ease;
}

.navbar-custom .nav-item .nav-link:hover,
.navbar-custom .nav-item .nav-link.active {
	color: #00bfd8;
}

/* Dropdown Menu */
.navbar-custom .dropdown:hover > .dropdown-menu {
	display: block; /* this makes the dropdown menu stay open while hovering it */
	min-width: auto;
	animation: fadeDropdown 0.2s; /* required for the fade animation */
}

@keyframes fadeDropdown {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.navbar-custom .dropdown-toggle:focus { /* removes dropdown outline on focus */
	outline: 0;
}

.navbar-custom .dropdown-menu {
	margin-top: 0;
	border: none;
	border-radius: 0.25rem;
	background-color: #fff;
}

.navbar-custom .dropdown-item {
	color: #393939;
	text-decoration: none;
}

.navbar-custom .dropdown-item:hover {
	background-color: #fff;
}

.navbar-custom .dropdown-item .item-text {
	font: 600 0.875rem/0.875rem "Raleway", sans-serif;
}

.navbar-custom .dropdown-item:hover .item-text {
	color: #00bfd8;
}

.navbar-custom .dropdown-items-divide-hr {
	width: 100%;
	height: 1px;
	margin: 0.75rem auto 0.725rem auto;
	border: none;
	background-color: #c4d8dc;
	opacity: 0.2;
}
/* end of dropdown menu */

.navbar-custom .social-icons {
	display: none;
}

.navbar-custom .navbar-toggler {
	border: none;
	color: #393939;
	font-size: 2rem;
}

.navbar-custom button[aria-expanded='false'] .navbar-toggler-awesome.fas.fa-times{
	display: none;
}

.navbar-custom button[aria-expanded='false'] .navbar-toggler-awesome.fas.fa-bars{
	display: inline-block;
}

.navbar-custom button[aria-expanded='true'] .navbar-toggler-awesome.fas.fa-bars{
	display: none;
}

.navbar-custom button[aria-expanded='true'] .navbar-toggler-awesome.fas.fa-times{
	display: inline-block;
	margin-right: 0.125rem;
}


/**********************/
/*     16. Footer     */
/**********************/
.footer {
	padding-top: 4.625rem;
	padding-bottom: 0.5rem;
}

.footer .footer-col {
	margin-bottom: 2.25rem;
}

.footer h4 {
	margin-bottom: 1rem;
}

.footer .list-unstyled .fas {
	color: #00bfd8;
	font-size: 0.5rem;
	line-height: 1.375rem;
}

.footer .list-unstyled .media-body {
	margin-left: 0.625rem;
}

.footer .fa-stack {
	margin-bottom: 0.75rem;
	margin-right: 0.5rem;
	font-size: 1.5rem;
}

.footer .fa-stack .fa-stack-1x {
    color: #fff;
	transition: all 0.2s ease;
}

.footer .fa-stack .fa-stack-2x {
	color: #00bfd8;
	transition: all 0.2s ease;
}

.footer .fa-stack:hover .fa-stack-1x {
	color: #fff;
}

.footer .fa-stack:hover .fa-stack-2x {
    color: #00a7bd;
}






/*****************************/
/*     20. Media Queries     */
/*****************************/
/* Min-width width 768px */
@media (min-width: 768px) {

	


}
/* end of min-width width 768px */


/* Min-width width 992px */
@media (min-width: 992px) {

	/* Navigation */
	.navbar-custom {
		padding: 2.125rem 1.5rem 2.125rem 2rem;
		box-shadow: none;
        background: transparent;
	}

	.navbar-custom .navbar-nav {
		margin-top: 0;
		margin-bottom: 0;
	}

	.navbar-custom .nav-item .nav-link {
		padding: 0.25rem 0.75rem 0.25rem 0.75rem;
		color: #fff;
		opacity: 0.8;
	}

	.navbar-custom .nav-item .nav-link:hover,
	.navbar-custom .nav-item .nav-link.active {
		color: #fff;
		opacity: 1;
	}

	.navbar-custom.top-nav-collapse {
        padding: 0.5rem 1.5rem 0.5rem 2rem;
		box-shadow: 0 0.0625rem 0.375rem 0 rgba(0, 0, 0, 0.1);
		background-color: #fff;
	}

	.navbar-custom.top-nav-collapse .nav-item .nav-link {
		color: #393939;
		opacity: 1;
	}

	.navbar-custom.top-nav-collapse .nav-item .nav-link:hover,
	.navbar-custom.top-nav-collapse .nav-item .nav-link.active {
		color: #00bfd8;
	}

	.navbar-custom .dropdown-menu {
		padding-top: 1rem;
		padding-bottom: 1rem;
		border-top: 0.75rem solid rgba(0, 0, 0, 0);
		border-radius: 0.25rem;
	}

	.navbar-custom.top-nav-collapse .dropdown-menu {
		border-top: 0.5rem solid rgba(0, 0, 0, 0);
		box-shadow: 0 0.375rem 0.375rem 0 rgba(0, 0, 0, 0.02);
	}

	.navbar-custom .dropdown-item {
		padding-top: 0.25rem;
		padding-bottom: 0.25rem;
	}

	.navbar-custom .dropdown-items-divide-hr {
		width: 84%;
	}

	.navbar-custom .social-icons {
		display: block;
		margin-left: 0.5rem;
	}

	.navbar-custom .fa-stack {
		margin-bottom: 0.1875rem;
		margin-left: 0.25rem;
		font-size: 0.75rem;
	}

	.navbar-custom .fa-stack-2x {
		color: #00bfd8;
		transition: all 0.2s ease;
	}

	.navbar-custom .fa-stack-1x {
		color: #fff;
		transition: all 0.2s ease;
	}

	.navbar-custom .fa-stack:hover .fa-stack-2x {
		color: #fff;
	}

	.navbar-custom .fa-stack:hover .fa-stack-1x {
		color: #00bfd8;
	}

	.navbar-custom.top-nav-collapse .fa-stack-2x {
		color: #00bfd8;
	}

	.navbar-custom.top-nav-collapse .fa-stack-1x {
		color: #fff;
	}

	.navbar-custom.top-nav-collapse .fa-stack:hover .fa-stack-2x {
		color: #00a7bd;
	}

	.navbar-custom.top-nav-collapse .fa-stack:hover .fa-stack-1x {
		color: #fff;
	}
	/* end of navigation */



}
/* end of min-width width 992px */


/* Min-width width 1200px */
@media (min-width: 1200px) {

	/* Navigation */
	.navbar-custom {
		padding: 2.125rem 5rem 2.125rem 5rem;
	}

	.navbar-custom.top-nav-collapse {
        padding: 0.5rem 5rem 0.5rem 5rem;
	}
	/* end of navigation */


	/* General Styles */
	.p-heading {
		width: 55%;
	}
	/* end of general styles */


	/* Header */
	.header .header-content {
		padding-top: 12.5rem;
	}

	.header .text-container {
		margin-top: 5.375rem;
		margin-left: 1rem;
		margin-right: 2rem;
	}

	.header .image-container {
		margin-left: 2rem;
		margin-right: 1rem;
	}
	/* end of header */


	

	/* Footer */
	.footer .footer-col {
		width: 90%;
	}

	.footer .footer-col.middle {
		margin-right: auto;
		margin-left: auto;
	}

	.footer .footer-col.last {
		margin-right: 0;
		margin-left: auto;
	}
	/* end of footer */


}
/* end of min-width width 1200px */

.navbar-custom .nav-item .nav-link {
	color: #0b0b0b;
}

.navbar-custom .nav-item .nav-link:hover {
	color: #00a7bd;
}

.n {
	padding: 140px;
	margin: 100px;
}

.quiz {
	padding: 50px;
	padding-top: 150px;

}

.form-check-label .form-check-input {
	padding: 5px;
	height: 20px;
}

.card {
	padding-top: 10px;
	padding-right: 50px;
	padding-left: 50px;
	background-color: rgba(255, 255, 255, 0.72);
	box-shadow: 1.5px 3.99px 27px 0px rgba(0, 0, 0, 0.1);

}

.add {
	padding: 70px 200px;
	margin: 50px;
	margin-top: 80px;
}

/* for the radio box */
/* The container */
.radio-container {
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 22px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* Hide the browser's default radio button */
.radio-container input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 25px;
	width: 25px;
	background-color: #eee;
	border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.radio-container:hover input~.checkmark {
	background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.radio-container input:checked~.checkmark {
	background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio-container input:checked~.checkmark:after {
	display: block;
}

/* Style the indicator (dot/circle) */
.radio-container .checkmark:after {
	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}

.question-section {
	padding: 20px;
}

.delete-edit {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.result-image {
	height: 200px;
	width: 300px;
	align-content: center;

}

input[type=text] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
}


.table-page {
	padding: 20px;
	margin: 10px;
	margin-top: 100px;
}
		        
